.ico {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.ico_close {
  background-image: url("../images/ico_close.svg");
}

.ico_search {
  background-image: url("../images/ico_search.svg");
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7470%) hue-rotate(217deg) brightness(98%) contrast(100%);
}

.ico_keyboard {
  background-image: url("../images/ico_keyboard.svg");
}

.ico_copy {
  background-image: url("../images/ico_copy.svg");
}

.ico_google_translate {
  background-image: url("../images/ico_google_translate.svg");
}

.ico_clear {
  background-image: url("../images/ico_clear.svg");
  filter: brightness(0) saturate(100%) invert(17%) sepia(75%) saturate(4659%) hue-rotate(10deg) brightness(87%) contrast(103%);
}

.ico_refresh {
  background-image: url("../images/ico_refresh.svg");
}

.ico_separator {
  background-image: url("../images/ico_separator.svg");
}